.left {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color:;
}
.middle {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color:;
}
.right {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color:;
}
