.left {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color:green ;
}
.middle {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color:green ;
}
.right {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color:green ;
}
